/* ==========================================================================
	#Reset
========================================================================== */
* { padding: 0; margin: 0; outline: 0; }

/* ==========================================================================
	#Base
========================================================================== */
html,
body { height: 100%; }

body { background: #fff; font-family: 'Open Sans', sans-serif; font-size: 17px; line-height: 1.1; color: #686767; min-width: 320px; }

a { cursor: pointer; }
/* a:hover { text-decoration: underline; } */

img { border: 0; vertical-align: middle; }

ul,
ol { list-style-position: inside; }

/* ==========================================================================
	#Helpers
========================================================================== */
.alignleft { float: left; }
.alignright { float: right; }

.clearfix:before,
.clearfix:after { display: table; content: ' '; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/* ==========================================================================
	#Base
========================================================================== */
.wrapper { position: relative; z-index: 2; left: 0%; background: #fff; height: 100%; overflow: auto; overflow-y: scroll; -webkit-overflow-scrolling: touch; }

.radio label, 
.checkbox label { padding-left: 0; }
.custom-checkbox input { opacity: 0; filter: alpha(opacity=0); position: absolute; }
.custom-checkbox-fake { float: left; width: 21px; height: 21px; margin-right: 10px; background: url(images/sprite.png) -441px -79px no-repeat; }
.custom-input-checked .custom-checkbox-fake { background: url(images/sprite.png) -466px -79px no-repeat; }
.custom-input-disabled .custom-checkbox-fake { opacity: .5; filter: alpha(opacity=50); }

/* ==========================================================================
	#Icons
========================================================================== */
.ico { display: inline-block; background: url(images/sprite.png) no-repeat; vertical-align: middle; }

.ico-download { width: 60px; height: 60px; background-position: -60px -170px; }
.ico-circle-graph { width: 69px; height: 75px; background-position: -103px 0px; }
.ico-contacts-fax { width: 16px; height: 16px; margin-top: -3px; background-position: -442px -44px; }
.ico-contacts-phone { width: 15px; height: 15px; margin-top: -3px; background-position: -460px -44px; }
.ico-graph { width: 54px; height: 75px; background-position: -71px -93px; }
.ico-hand { width: 66px; height: 75px; background-position: -174px 0px; }
.ico-list { width: 58px; height: 60px; background-position: 0px -170px; }
.ico-monitor-small { width: 66px; height: 75px; background-position: -174px -77px; }
.ico-monitor { width: 66px; height: 60px; background-position: -122px -170px; }
.ico-mouse { width: 21px; height: 91px; background-position: 0px 0px; }
.ico-note { width: 69px; height: 75px; background-position: 0px -93px; }
.ico-play { width: 78px; height: 78px; margin-bottom: 11px; background-position: -23px 0px; }

/* ==========================================================================
	#Buttons
========================================================================== */
.btn { display: inline-block; }

.btn-default { color: #fff; background-color: transparent; margin-right: 5px; border: 1px solid #fff; border-radius: 5px; font-size: 19px; font-weight: 500; }
.btn-default:hover { background: #fff; border-color: #fff; }

/* ==========================================================================
	#Header
========================================================================== */
.navbar { z-index: 3; position: absolute; top: 0; right: 17px; min-height: 0; width: 100%; margin-bottom: 0; padding: 17px 0; border: none; border-radius: 0; }
.navbar-default { background-color: transparent; border-color: transparent; }
.navbar-header { overflow: hidden; }
.navbar-brand { overflow: hidden; float: left; width: 250px; height: 42px; background: url(images/sprite.png) -242px 0px no-repeat; text-indent: 150%; white-space: nowrap; }

.navbar-default .navbar-nav > li > a { color: #fff; }
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus { color: #faa635; background-color: transparent; }

.navbar>.container .navbar-brand { margin-left: 0; }
.nav > li > a { font-size: 17px; }
.navbar-nav { float: right; }
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus { color: #faa635; background-color: transparent; }

.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus { background-color: transparent; border-color: transparent; }

.nav .dropdown:hover ul { display: block; }

.navbar.affix { position: fixed; background: #fff; }
.navbar.affix .navbar-nav > li > a { color: #0184a3; }
.navbar.affix .navbar-nav > li > a:hover,
.navbar.affix .navbar-nav > li > a:focus { color: #faa635; }
.navbar.affix .navbar-nav .dropdown-menu { border: 0; }

.nav-mobile { position: fixed; top: 0; right: 0; width: 70%; height: 100%; overflow: auto; background: #faa635; z-index: 1; display: none; }
.nav-mobile ul { list-style: none outside none; display: block; margin-bottom: 0; }
.nav-mobile a { display: block; color: #fff; padding: 10px; }
.nav-mobile a:hover { text-decoration: none; background: #e39731; }
.nav-mobile ul ul a { padding: 10px 15px; }
.nav-mobile > ul > li > a { font-size: 20px; }

/* ==========================================================================
	#Intro
========================================================================== */
.intro { position: relative; z-index: 1; min-height: 626px; }
.intro-image { position: absolute; top: 0; left: 0; min-width: 100%; min-height: 100%; }
.intro .container { position: absolute; top: 120px; width: 100%; z-index: 2; text-align: center; }
.intro-image img { height: 626px; width: 100%; }
.intro-content h1 { margin: 33px 0 0; font-family: 'Dax-Regular', sans-serif; font-size: 90px; color: #fff; }
.intro-content p { margin-bottom: 40px; font-size: 29px; color: #faa635; }
.intro-actions a { display: inline-block; margin-bottom: 61px; font-size: 16px; color: #fff; text-decoration: none; }

.fsr-container { overflow: hidden; background-repeat: no-repeat; background-size: cover; }
.fsr-image { position: absolute; }
.fsr-hidden { display: none; }

/* ==========================================================================
	#Section Services
========================================================================== */
.section-services { padding: 45px 0 39px; background: #faa635; }
.section-services .item { padding-top: 5px; text-align: center; }
.section-services .item ~ .item { background: url(images/services-bg.png) 0 0 no-repeat; }
.section-services .item-ico-wrapper { display: inline-block; width: 99px; height: 99px; padding-top: 19px; background: #0087b1; border-radius: 9px; text-align: center; }
.section-services a { display: block; text-decoration: none; }
.section-services a:hover strong { color: #3c3c3c; }
.section-services a:hover p { color: #0087b1; }
.section-services a strong { display: block; margin: 10px 0 0; font-family: 'Dax-Regular', sans-serif; font-size: 37px; color: #0087b1; text-decoration: none; }
.section-services p { font-size: 23px; color: #3c3c3c; }

/* ==========================================================================
	#Section Demo
========================================================================== */
.section-demo { padding: 67px 0 46px; background: #0184a3 url(images/section-demo-s.png) 0 bottom no-repeat; color: #fff; }
.section-demo-content h2 { margin: -5px 0 1px; font-family: 'Dax-Regular', sans-serif; font-size: 45px; font-weight: 800; }
.section-demo-content h4 { margin: 0 0 14px; font-family: 'Dax-Regular', sans-serif; font-size: 38px; }
.section-demo-content p { margin-bottom: 17px; font-size: 21px; }
.section-demo-list p { margin-bottom: 12px; font-size: 19px; }  
.section-demo-list ul { list-style: none outside none; }
.section-demo-list li ~ li { margin-top: 5px; }
.section-demo-actions { margin-top: 17px; }
.section-demo-actions .btn-default { padding: 7px 16px 9px 19px; border-width: 2px; } 

/* ==========================================================================
	#Section Download
========================================================================== */
.section-download { position: relative; padding: 67px 0 50px; background: #faa635; }
.section-download-content h2 { margin: -5px 0 1px; font-family: 'Dax-Regular', sans-serif; font-size: 45px; color: #585858; font-weight: bold; }
.section-download-content h4 { margin: 0 0 14px; font-family: 'Dax-Regular', sans-serif; font-size: 38px; color: #fff; line-height: 0.87; }
.section-download-content p { font-size: 21px; color: #474747; line-height: 1.2; }
.section-download-content .checkbox { margin-top: 38px; }
.section-download-content label { color: #474747; }

.section-download-actions { margin-top: 26px; }
.section-download-actions .btn-default { min-width: 287px; margin-bottom: 10px; padding: 7px 20px 9px 51px; border-width: 2px; text-align: left; }

.section-download-actions .btn-mac { background-image: url(images/ico-apple.png); background-position: 12px center; }
.section-download-actions .btn-mac:hover { background-image: url(images/ico-apple-hover.png); color: #000; } 

.section-download-actions .btn-linux { background-image: url(images/ico-linux.png); background-position: 12px center; }
.section-download-actions .btn-linux:hover { background-image: url(images/ico-linux-hover.png); color: #000; } 

.section-download .section-triangle-top,
.section-download .section-triangle-bottom { position: absolute; left: 50%; display: block; width: 31px; height: 16px; margin-left: -15px; }
.section-download .section-triangle-top { top: 0; background: url(images/ico-blue.png) 0 0 no-repeat; }
.section-download .section-triangle-bottom { bottom: -16px; background: url(images/ico-orange.png) 0 0 no-repeat; }

      /**
       * Fade-zoom animation for first dialog
       */
      
      /* start state */
      .my-mfp-zoom-in .zoom-anim-dialog {
        opacity: 0;

        -webkit-transition: all 0.2s ease-in-out; 
        -moz-transition: all 0.2s ease-in-out; 
        -o-transition: all 0.2s ease-in-out; 
        transition: all 0.2s ease-in-out; 



        -webkit-transform: scale(0.8); 
        -moz-transform: scale(0.8); 
        -ms-transform: scale(0.8); 
        -o-transform: scale(0.8); 
        transform: scale(0.8); 
      }

      /* animate in */
      .my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
        opacity: 1;

        -webkit-transform: scale(1); 
        -moz-transform: scale(1); 
        -ms-transform: scale(1); 
        -o-transform: scale(1); 
        transform: scale(1); 
      }

      /* animate out */
      .my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
        -webkit-transform: scale(0.8); 
        -moz-transform: scale(0.8); 
        -ms-transform: scale(0.8); 
        -o-transform: scale(0.8); 
        transform: scale(0.8); 

        opacity: 0;
      }

      /* Dark overlay, start state */
      .my-mfp-zoom-in.mfp-bg {
        opacity: 0.001; /* Chrome opacity transition bug */
        -webkit-transition: opacity 0.3s ease-out; 
        -moz-transition: opacity 0.3s ease-out; 
        -o-transition: opacity 0.3s ease-out; 
        transition: opacity 0.3s ease-out;
      }
      /* animate in */
      .my-mfp-zoom-in.mfp-ready.mfp-bg {
        opacity: 0.8;
      }
      /* animate out */
      .my-mfp-zoom-in.mfp-removing.mfp-bg {
        opacity: 0;
      }

/* ==========================================================================
	#Section Tutorials
========================================================================== */
.section-tutorials { padding: 58px 0 52px; background: #5d5d5d; color: #fff; }
.section-tutorials-content h2 { margin: -5px 0 1px; font-family: 'Dax-Regular', sans-serif; font-size: 45px; font-weight: 800; }
.section-tutorials-content h4 { margin: 0 0 14px; font-family: 'Dax-Regular', sans-serif; font-size: 38px; }
.section-tutorials-content p { margin-bottom: 17px; font-size: 21px; }
.section-tutorials-list { list-style: none inside none; }
.section-tutorials-list li ~ li { margin-top: 10px; }
.section-tutorials-list a { display: inline-block; background: url(images/ico-tutorials.png) 0 2px no-repeat; color: #fff; line-height: 1.2; text-decoration: none; }
.section-tutorials-list a span { display: inline-block; margin-left: 24px; }
.section-tutorials-list a:hover { color: #faa635; }

.section-tutorials-actions { margin-top: 23px; }
.section-tutorials-actions .btn-default { padding: 7px 19px 9px 22px; border-width: 2px; }

/* ==========================================================================
	#Section Benefits
========================================================================== */
.section-benefits { padding: 33px 0 62px; background: #f2f2f2; border-bottom: 1px solid #e5e5e5; }
.section-benefits .section-head h3 { margin-bottom: 42px; font-family: 'Dax-Regular', sans-serif; font-size: 45px; color: #5d5d5d; text-align: center; }
.section-benefits .section-head h3 span { color: #0082a1; font-weight: bold; }
.benefit { text-align: center; float: left; width: 20%; padding: 0 2%; }
.benefit-head { cursor: pointer; }
.benefit-title { margin: 14px 0; font-size: 25px; color: #0087b1; line-height: 0.92; }
.section-benefits .ico-wrapper { display: inline-block; width: 99px; height: 99px; padding-top: 12px; border-radius: 9px; background: #f9a535; text-align: center; }
.benefit p { line-height: 1.24; font-size: 16px; }

.benefit-entries { position: relative; overflow: hidden; }
.benefit-entry { position: absolute; left:0; top: 0; min-height: 82px; width:100%; padding: 10px 35px 0; display: none;  zoom: 1; }
.benefit-entry-visible { position: relative; display: block; z-index: 2 }
.benefit.current h5 { color: #03556f; }

.benefit .benefit-entry { display: none; }

/* ==========================================================================
	#Section Features
========================================================================== */
.section-features { padding: 34px 0 58px; }
.section-features .section-head { text-align: center; }
.section-features .section-head h3 { display: inline-block; margin-bottom: 50px; padding-bottom: 21px; border-bottom: 1px solid #e7e7e7; font-family: 'Dax-Regular', sans-serif; font-size: 45px; color: #5d5d5d; text-align: center; }
.section-features .section-head h3 span { color: #0082a1; font-weight: bold; }
.feature { border-bottom: 1px solid #e7e7e7; font-size: 18px; }
.feature ~ .feature { margin-top: 39px; }
.feature h4 { margin: 5px 0 11px; font-size: 36px; color: #0082a1; }
.feature p { line-height: 1.28em; }

/* ==========================================================================
	#Section Testimonials
========================================================================== */
.section-testimonials { padding: 27px 0 56px; background: #f2f2f2; }
.section-testimonials .section-head h3 { margin-bottom: 36px; font-family: 'Dax-Regular', sans-serif; font-size: 45px; color: #5d5d5d; text-align: center; }
.section-testimonials .section-head h3 span { color: #0082a1; font-weight: bold; }

.list-partners { overflow: hidden; margin-bottom: 47px; list-style: none outside none; }
.list-partners li { float: left; }
.list-partners li  ~ li { margin-left: 45px; }

.testimonial blockquote { position: relative; min-height: 167px; margin-bottom: 29px; padding: 64px 35px 25px; background: #fff url(images/blockquote.png) 36px 19px no-repeat; border: 1px solid #dedede; border-radius: 2px; font-size: 19px; color: #989898; font-family: "Open Sans Italic", sans-serif; }
.testimonial blockquote a { position: relative; bottom: 0; }
.testimonial .blockquote-triangle { position: absolute; left: 57px; bottom: -20px; width: 21px; height: 20px; background: url(images/blockquote-triangle.png) 0 0 no-repeat; }

.author { overflow: hidden; }
.author-image,
.author-content { float: left; }

.author-image { width: 56px; height: 56px; margin-right: 10px; }
.author-image img { border-radius: 50%;}
.author-name { font-size: 24px; color: #0082a1; }
.author-position { font-size: 16px; color: #888; }

/* ==========================================================================
	#Section Contact
========================================================================== */
.section-contact { padding: 36px 0 74px; background: #5d5d5d; }
.form-contact .form-head { margin-bottom: 20px; text-align: center; }
.form-contact h3 { margin-bottom: 3px; font-family: 'Dax-Regular', sans-serif; font-size: 45px; color: #fff; }
.form-contact h3 span { color: #fe9915; font-weight: bold; }
.form-contact p { font-size: 18px; color: #fff; }

.form-contact .has-error input { border-width: 3px; }  

.form-contact .field,
.form-contact .textarea { margin-top: 11px; padding-left: 40px; font-size: 15px; }
.form-contact .form-control { height: 45px; }
.form-contact .textarea { height: 84px; resize: none; }

#fname { background: #fff url(images/ico-user.png) 14px 14px no-repeat; }
#phone { background: #fff url(images/ico-phone.png) 14px 14px no-repeat; }
#lname { background: #fff url(images/ico-user.png) 14px 14px no-repeat; }
#email { background: #fff url(images/ico-mail.png) 12px 14px no-repeat; }
#message { background: #fff url(images/ico-pen.png) 12px 7px no-repeat; }

.form-contact .checkbox { margin-top: 23px; }
.form-label { font-size: 19px; color: #fff; }
.form-label span { color: #ffae44; text-transform: uppercase; }

.form-contact .form-actions { margin-top: 21px; text-align: center; }
.form-contact .form-btn { padding: 11px 31px 10px; border: none; border-radius: 5px; font-size: 22px; }
.form-contact .form-btn-orange { background: #faa635; color: #424242; } 
.form-contact .form-btn-blue { background: #0087b1; color: #fff; }
.form-contact .form-btn-orange:hover { background: #e49326; }
.form-contact .form-btn-blue:hover { background: #036c8c; }

/* ==========================================================================
	#Footer
========================================================================== */
.footer { padding: 35px 0 31px;background: #0082a1; }
.footer h5 { margin-bottom: 20px; font-size: 20px; color: #fff; }
.footer-nav ul { list-style: none outside none; }
.footer-nav li ~ li { margin-top: 2px; }
.footer-nav a { font-size: 16px; color: #fff; text-decoration: none; }
.footer-nav a:hover { color: #ffba60; }

.contacts { font-size: 15px; color: #fff; }
.contacts p { line-height: 1.3; }
.contacts .phone { margin-top: 21px; font-size: 18px; line-height: 1.55; }
.contacts .phone ~ .phone { margin: 0; }

.footer-socials ul { overflow: hidden; list-style: none outside none; }
.footer-socials li { float: left; }
.footer-socials li ~ li { margin-left: 2px; }
.social-label { display: block; margin: 10px 0 18px; font-size: 20px; color: #fff; }

.link-facebok,
.link-twitter,
.link-blog { overflow: hidden; display: block; width: 53px; height: 53px; background: url(images/sprite.png) no-repeat; border: 2px solid #fff; border-radius: 5px; text-indent: 100%; white-space: nowrap; }
.link-facebok { background-position: -284px -82px; }
.link-twitter { background-position: -325px -85px; }
.link-blog { background-position: -246px -81px; }
.link-facebok:hover,
.link-twitter:hover,
.link-blog:hover  { background-color: #fe9915; border-color: #fe9915; }

/* font awesome chars see http://astronautweb.co/snippet/font-awesome/ */
.footer a { color:#fff; vertical-align: middle; }
.lnk-footer { padding-left: 10px; padding-right: 10px; font-size:16px; }
.btn-social { padding-left: 5px; font-size:30px; }
.fa{display:inline-block;font-family:FontAwesome;font-style:normal;font-weight:normal;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.fa-twitter-square:before{content:"\f081"; color: #fff;}
.fa-rss-square:before{content:"\f143 "; color: #fff;}
.fa-google-plus-square:before{content:"\f0d4"; color: #fff;}
.fa-facebook-square:before{content:"\f082"; color: #fff;}
.fa-youtube-square:before{content:"\f166"; color: #fff;}

.percentage-content { padding-top: 25px; }
.footer-toggler { display: none; }

.mfp-iframe-holder { padding: 0 70px; }
.mfp-iframe-holder .mfp-content { max-width: 1400px; }

@media (max-width: 1200px) {
	.benefit-entry { padding-right: 13px; padding-left: 13px; }
	.section-testimonials .section-head h3 { font-size: 43px; }
	.list-partners li ~ li { margin-left:20px; } 
	.testimonial blockquote { min-height: 201px; }
	.contacts .phone { font-size: 16px; }
	.footer h5 { font-size: 17px; }
}

@media (max-width: 992px) {
	.benefit-entry { padding-right: 0; padding-left: 0; }
	.testimonial blockquote { min-height: 262px; }

	.list-partners { text-align: center; }
	.list-partners li { float: none; display: inline-block; padding: 10px 0; }
}


@media (min-width: 768px) and (max-width: 1200px) {
	.footer-socials li { float: none; margin-bottom: 5px; }
	.footer-socials li ~ li { margin-left: 0; }
}

@media (min-width: 768px) and (max-width: 1100px) {
	.dropdown:last-child .dropdown-menu { left: -70px !important; }
}

@media (max-width: 767px) {
	.nav-mobile { display: block; }

	.is-affixed .nav-mobile > ul { padding-top: 71px; }
	.navbar { width: 98%; }
	.navbar.affix { left: 0 !important; }

	.mfp-iframe-holder { padding: 0 20px 0 5px; }

	.header { background: transparent; }
	.navbar-brand { width: 198px; height: 29px; margin-top: 10px; margin-left: 5px !important; background: url("images/sprite.png") no-repeat scroll -242px -44px rgba(0, 0, 0, 0); float: left; }
	.navbar-toggle { float: right; margin: 5px 10px 0 0; }
	.navbar-collapse { background: #2a1f1a; }
	.navbar-nav { float: none; }
	
	.intro { min-height: 530px !important; }
	.intro .container { top: 100px; }
	.intro-content h1 { font-size: 30px; }
	.intro-content p { font-size: 18px; margin-bottom: 60px; }
	.intro-actions a { margin-bottom: 75px; }
	
	.section-services .item { background: url(images/services-bg-down.png) center bottom no-repeat !important; padding-bottom: 55px; }
	.section-demo-image,
	.section-download-image,
	.section-tutorials-image { text-align: center; }
	.section-download-image { padding-top: 25px; }
	.section-demo-image img,
	.section-download-image img,
	.section-tutorials-image img { display: inline-block; }

	.benefit { width: auto; float: none; padding: 10px 25px; }
	.section-benefits { padding-bottom: 20px; }
	.benefit > .benefit-entry { display: block; }
	.benefit-entries { display: none !important; }
	
	.feature-image { padding-bottom: 15px; text-align: center; }
	.feature-image img { display: inline-block; }

	.list-partners li:nth-child(odd) { margin-left: 0; }

	.testimonial blockquote { min-height: 0; }
	.section-testimonials .testimonial { padding-bottom: 20px; }
	.section-testimonials { padding-bottom: 20px }

	.footer ul { padding-bottom: 20px; }
	.footer h5 { margin-bottom: 10px; text-decoration: underline; }

	.footer-bar { padding: 10px; }
	.footer-bar-logo { float: left; display: block; }
	
	.footer { padding-left: 50px; }
}