#page {
	width: 980px;
	margin: 0px;
	padding: 0px;
}
#page a {
	color: #FE9915;
	font-weight: normal;
	font-style: normal;
}
#page a:hover {
	color: #FF0000;
	text-decoration: none;
}
#page_left {
	float: left;
	width: 660px;
}

#scout_header {
		height: 200px;
		background: #FE9915;
}

#scout_banner {
	background: #FE9915 url("img/s.png") no-repeat;
	width: 460px;
	height: 160px;
	padding-left: 200px;	
	padding-top: 40px;
	float: left;
}
#scout_banner h1 {
	color: #FFFFFF;
	font: bold 22pt "Lucida Grande", Lucida, Verdana, sans-serif;
	padding: 0px;
}
#scout_banner p {
	color: #FFFFFF;
	font: 16pt "Lucida Grande", Lucida, Verdana, sans-serif;
	margin-top: 5px;
	margin-bottom: 20px;
}
#scout_buttons {
    width: 180px;
    float: left;
	padding: 35px 70px 10px;
}
#scout_buttons p {
	padding:0px;
	margin: 3px;
}
	
.scout_description {
	margin-top:35px;
	margin-bottom:5px;
	margin-right:30px;
	margin-left:30px;
}
.scout_description p {
	font-size: 1.4em;
	line-height: 1.5em;
	font: "Lucida Grande", Lucida, Verdana, sans-serif;
}
.scout_value h3 {
	color: #0082A1;
	border-style: none;
	font-size: 1.4em;
	margin-top: 10px;
	margin-left: 15px;
}
.scout_value p {
	font-size: 1em;
	line-height: 1.5em;
	margin: 15px;
}
div.scout_value:hover {
	background-color: #E7EDF0;
}
#scout_value1 {
    float: left;
	width: 220px;
	height: 270px;
}
#scout_value2 {
    float: left;
	width: 220px;
	height: 270px;
}
#scout_value3 {
    float: left;
	width: 220px;
	height: 270px;
}

#page_right {
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 35px;
    float: left;
	width: 260px;	
}

#page_right p {
	font-size: 1em;
	line-height: 1.5em;
	margin-bottom: 5px;
}
#page_right ul {
	margin-left: 30px;
	padding: 0px;
}
#page_right li {
	margin: 0px;
	padding: 0px;
}

.center {
	text-align: center;
}

#incubation {
	text-align: right;
}

div#leftcol p#logo {
	float:left;
	padding:16px;
}

ul li.download {
	margin-top: 20px;
	margin-bottom: 20px;
}

a.download {
	background-image: url('img/download_button.png');
	background-repeat: no-repeat;
	padding-left: 35px;
	padding-top: 15px;
	padding-bottom: 10px;
}

#preview {
	margin: 5px 30px;
}

